<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/ng-grid.js"></script>
    
    <script src="Scripts/app.js"></script>
    <script src="Scripts/App/gridController.js"></script>
    <script src="Scripts/App/gridServerSidePaginController.js"></script>
    
    <link href="Content/ng-grid.css" rel="stylesheet" />
    <link href="Content/custom-grid.css" rel="stylesheet" />

    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div>
        Testing Angular 4 + 11 = {{4+11}}
    </div>
    <br />
    <div>
        <fieldset>
            <legend>Regular Grid</legend>
            <div ng-controller="serverSidePagingGridController">
                <button ng-click="loadData()" type="button" class="btn">Display Data</button>
                <div class="widerGridStyle" ng-grid="gridOptions"></div>
            </div>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Editable Grid</legend>
            <div ng-controller="editableGridController">
                <button ng-click="loadData()" type="button">Display Data</button>
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
        </fieldset>
    </div>

</body>
</html>
